
# 환경변수를 상황에 따라 다르게 적용하고 싶을 때에는 .env 로 시작하는 파일을 여러 개 작성할 수 있다
# --env-file 옵션 통해 원하는 env 파일을 up할 때 지정할 수 있다
# docker compose --env-file .env.dev up -d
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_PASSWORD=
JPA_DDL_AUTO=

POSTGRES_DB=
POSTGRES_PASSWORD=